{% extends 'ewords/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="main-content">
  <div class="quotations">
    <div class="quotations-block">
        {% for quote in quotes %}
        <div class="quotations-quote">
            <div class="quotations-quote-category">
                <p>{{quote.category}}</p>
            </div>
            <div class="quotations-quote-eng-text">
                <p>{{quote.eng_text}}</p>
            </div>
            <div class="quotations-quote-eng-author">
                <p>{{quote.eng_author}}</p>
            </div>
            <a href="/profile" class="quotations-quote-added-by">
            Added by {{quote.author}}
        </a>
            <p class="quote-translation-button">Translate into Russian</p>
            <div class="quotations-quote-translate-block">
                <div class="quotations-quote-rus-text">
                    {{quote.rus_text}}
                </div>
                <div class="quotations-quote-rus-author">
                    {{quote.rus_author}}
                </div>
            </div>
                {% if user.is_authenticated %}
            <form method="POST" class="post-form">{% csrf_token %}
            {{ addtome_form.as_p }}
            <button type="submit" class="save btn btn-default" name="quote_id" value="{{quote.id}}">Save</button>
        </form>
            {% else %}
    <p>test</p>
    {% endif %}

            </div>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}