{% extends 'ewords/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="main-content">
    <div class="quotes-block">
        <div class="quotes-block-headline">
            <p>
                Quote of the Day
            </p>
        </div>
        {% for quote in quotes %}
        <div class="quote">
            <div class="quote-image">
                <img src="{% static  quote.image_link  %}" alt="Image"/>
            </div>
            <div class="quote-text">
                <p>{{quote.eng_text}}</p>
            </div>
            <div class="quote-author">
                <p>{{quote.eng_author}}</p>
            </div>
            <p class="quote-translation-button">Translate into Russian</p>
                <div class="quote-translation">
                    <p class="quote-translation-p">{{quote.rus_text}}</p>
                    <div class="quote-author">{{quote.rus_author}}</div>
                </div>
            <div class="quote-sharing">
               <script type="text/javascript">(function() {
                   if (window.pluso)if (typeof window.pluso.start == "function") return;
                   if (window.ifpluso==undefined) { window.ifpluso = 1;
                   var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                   s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                   s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                   var h=d[g]('body')[0];
                   h.appendChild(s);
                   }})();
                </script>
                <div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,counter,theme=02" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print">
                </div>
            </div>
            {% endfor %}
            <div class="quote-comments">
                <div id="hypercomments_widget"></div>
                    <script type="text/javascript">
                    _hcwp = window._hcwp || [];
                    _hcwp.push({widget:"Stream", widget_id: 73901});
                    (function() {
                    if("HC_LOAD_INIT" in window)return;
                    HC_LOAD_INIT = true;
                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/73901/"+lang+"/widget.js";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hcc, s.nextSibling);
                    })();
                    </script>
                    <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}