{% extends 'ewords/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="main-content">
    <div class="login-form">
    <h3>Fill all required fields</h3>

        <form id="login_form" method="post" action="../login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Login" class="btn btn-success"/>
        </form>
</div>
    </div>
{% endblock content %}