{% extends 'ewords/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="main-content">
    {% for user in users %}
    <div class="profile_page">
        <div class="profile_page_picture">
            <img src="../ewords/{{user.picture}}"/>
        </div>
        <div class="profile_page_login">
            {{user.user}}
        </div>
        <div class="profile_page_birthday">
        <p>Birthday:</p>
            {{user.birthday}}
        </div>
        <div class="profile_page_extra_info">
            <div class="profile_page_extra_info_hobby">
                <p>Hobbies:</p>
                {{user.hobby}}
            </div>
            <div class="profile_page_extra_info_education">
                <p>Education: </p>
                {{user.education}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}