{% extends 'ewords/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="quotations">
    {% if user.is_authenticated %}
    <a href="{% url 'ewords.views.quotations_new' %}" class="add-new-idiom-button"><span class="glyphicon glyphicon-plus"></span> Add a new idiom</a>
    {% else %}
    <p></p>
    {% endif %}
    <div class="quotations-block">
        {% for quote in quotes %}
        <div class="quotations-quote" id="{{quote.id}}">
            <div class="quotations-quote-category">
                <p>{{quote.category}}</p>
            </div>
            <div class="quotations-quote-eng-text">
                <p>{{quote.eng_text}}</p>
            </div>
            <div class="quotations-quote-eng-author">
                <p>{{quote.eng_author}}</p>
            </div>
            <p class="quote-translation-button">Translate into Russian</p>
            <div class="quotations-quote-translate-block">
                <div class="quotations-quote-rus-text">
                    {{quote.rus_text}}
                </div>
                <div class="quotations-quote-rus-author">
                    {{quote.rus_author}}
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
            <div class="quotations-sorting">
                <div class="quotations-sorting-topics">
                    <div class="quotations-sorting-topics-headline">
                        <p>Popular Topics</p>
                    </div>
                    <div class="quotations-sorting-topics-item">
                        <ul>
                            {% for quote in quotes %}
                            <li>{{quote.category}}</li>
                             {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="quotations-sorting-authors">
                    <div class="quotations-sorting-authors-headline">
                        <p>Popular Authors</p>
                    </div>
                    <div class="quotations-sorting-authors-items">
                        <ul>
                            {% for quote in quotes %}
                            <li>{{quote.eng_author}}</li>
                             {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}