{% extends 'ewords/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="main-content">
  {% if registered %}
        <p>Ewords says:<strong>thank you for registering!</strong></p>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
    <div class="register-form">
        <h3>Please, fill all required fields.</h3>
        <form id="user_form" method="post" action="../signup/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Выводим на экран каждую форму. Метод as_p помещает каждый элемент в абзац (тег <p>). Это гарантирует, что каждый элемент появится на новой строке, улучшая внешний вид формы. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Создаем кнопку для отправления данных формы. -->
            <input type="submit" name="submit" value="Register" class="btn btn-success" />
        </form>
        {% endif %}
</div>
    </div>
{% endblock content %}