* {
    margin:0;
    padding:0;
}

body {
    overflow-y: scroll;
}

/**.facebook-this {
    float: left;
    width: 10px;
    margin-left: 10px;
}

.tweet-this {
    float: left;
    width: 10px;
    margin-left: 100px;
}

.gplus-this {
    float: left;
    width: 10px;
    margin-left: 85px;
    margin-bottom: 10px;
}**/




/**HEADER**/
/**HEADER.LOGO**/

.main-header {
    width: 100%;
    height: 100px;
        background: #FFEFD5;
}

.main-header-logo {
    width: 150px;
    padding: 15px;
    margin-left: 20px;
    float: left;
}

.main-header-logo a {
    text-decoration: none;
}

.main-header-logo-title {
    font-size: 40px;
    font-weight: bold;
    color: 	#363636;
}

.main-header-logo-subtitle {
    font-size: 13px;
    margin-left: 30px;
    font-weight: bold;
    color: 	#363636;
}

/**HEADER.MENU**/
.main-header-menu {
    width: 300px;
    float: left;
    position: relative;
    margin-top: 36px;
}

.main-header-menu-list li {
    display: inline;
    font-size: 20px;
    font-family: 'calibri';
    margin-right: 10px;
}

.main-header-menu-list a {
    color: #363636;
    text-decoration: none;
}

.main-header-menu-list a:hover {
    border-bottom: 1px solid #363636;
    padding-bottom: 3px;
}

/**MAIN PAGE**/

/**MAIN PAGE.QUOTES**/
.quotes-block {
    width: 100%;
    font-family: 'calibri';
}

.quotes-block-headline {
    font-size: 30px;
    font-weight: bold;
}

.quotes-block-headline,.quote {
    width: 500px;
    margin: auto;
    padding-top: 25px;
}

.quote-image {
    width: 200px;
    float: left;
    position: relative;
}

.quote-image img {
    width: 95%;
}

.quote-text-information {
    width: 295px;
    float: left;
    position: relative;
    padding-left: 5px;
}

.quote-text {
    width:
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
    float: left;
}

.quote-author {
    text-align: right;
    padding-top: 10px;
    font-style: italic;
}

.quote-translation {
    padding-top: 10px;
    display: none;
    float: left;
    padding-bottom: 20px;
}

.quote-translation p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
}

.quote-translation-button {
    color: blue;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


.quote-sharing {
    width: 100;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
}

/**Quotations page**/
.quotations {
    width: 98%;
    padding-top: 10px;
    margin: 0 auto;
}

.quotations-block {
    width: 90%;
    float: left;
    position: relative;
}

.quotations-sorting {
    margin-top: 5px;
    float: left;
    position: relative;
    margin-left: -13%;
    width: 20%;

}

.quotations-sorting-topics-headline {
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
}

.quotations-sorting-authors-headline {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.quotations-sorting-topics-item {
    padding-top: 5px;
}

.quotations-sorting-topics-item li {
    display: block;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid #c4c4c4;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    margin: 5px auto;
    text-align: left;
    padding-left: 14px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    line-height: 40px;
    transition: .3s;
    overflow: hidden;
}

.quotations-sorting-authors-headline {
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
    padding-top: 10px;
}

.quotations-sorting-authors-items {
    padding-top: 5px;
}

.quotations-sorting-authors-items li {
    display: block;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid #c4c4c4;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    margin: 5px auto;
    text-align: left;
    padding-left: 14px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    line-height: 40px;
    transition: .3s;
    overflow: hidden;
}

.quotations-quote{
    width: 20%;
    margin: 5px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    border: 1px solid #c4c4c4;
    float: left;
    position: relative;
}

.quotations-quote-category {
    background: black;
    color: white;
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quotations-quote-eng-text {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
     padding: 10px;
}

.quotations-quote-eng-author {
    text-align: right;
    padding-top: 5px;
    font-style: italic;
     padding-right: 10px;
}

.quotations-quote-translate-block {
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
    padding-left: 10px;
}

.quotations-quote-rus-text {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
     padding-right: 10px;
}

.quotations-quote-rus-author {
    text-align: right;
    padding-top: 5px;
    font-style: italic;
     padding: 10px;
}

/**Video page**/

.video-page {
    width: 1200px;
    background: #DBDCDE;
    margin: 0 auto;
}

.video-block {
    width: 560px;
    height: 450px;
    float: left;
    position: relative;
    padding: 20px;
}

.video-block-title {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.video-block-description {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    padding-bottom: 10px;
}