* {
    margin:0;
    padding:0;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x:hidden;
}

.timer {
    margin-top: 200px;
}

a {
    text-decoration: none;
}

a:focus {
        text-decoration: none;
}
/**.facebook-this {
    float: left;
    width: 10px;
    margin-left: 10px;
}

.tweet-this {
    float: left;
    width: 10px;
    margin-left: 100px;
}

.gplus-this {
    float: left;
    width: 10px;
    margin-left: 85px;
    margin-bottom: 10px;
}**/




/**HEADER**/
/**HEADER.LOGO**/

.main-header {
    width: 1600px;
    height: 125px;
        background: #FFEFD5;
    overflow-x:hidden;

}

.main-header-menu {
    width: 440px;
    margin: 0 auto;
}

.main-header-elements {

}

.main-header-logo {
    width: 180px;
    padding: 15px;
    float: left;
    position: relative;
}

.main-header-logo a:hover {
    text-decoration: none;
}

.main-header-logo-title {
    font-size: 40px;
    font-weight: bold;
    color: 	#363636;
}

.main-header-logo-subtitle {
    font-size: 13px;
    margin-left: 30px;
    font-weight: bold;
    color: 	#363636;
    margin-top: -10px;
}

/**HEADER.MENU**/
.main-header-menu-left {
    width: 140px;
    float: left;
    position: relative;
    margin-top: 36px;
}

.main-header-menu-right {
    width: 120px;
    float: left;
    position: relative;
    margin-top: 36px;
}

.main-header-menu-list li {
    display: inline;
    font-size: 20px;
    font-family: 'calibri';
    margin-right: 10px;
}

.main-header-menu-list a {
    color: #363636;
    text-decoration: none;
}

.main-header-menu-login {
    float: right;
    margin-right: 235px;
    margin-top: 30px;

}

/**.main-header-menu-list a:hover {
    border-bottom: 1px solid #363636;
    padding-bottom: 3px;
}**/

.login-form {
    margin-left: 27%;
}

.main-header-menu-profile {
    float: left;
    position: relative;
    margin-right: 15px;
    margin-top: 7px;
}

.main-header-menu-logout {
    float: left;
}

.main-header-login-button {
    color: white;
    font-weight: bold;
    float: left;
    position: relative;
    margin-right: 10px;
}

.main-header-login-button:hover {
    cursor: pointer;
}

.main-header-login-button p {
    margin: 0;
}


.register-form {
    margin-top: 20px;
}

.register-form h3 {
    margin-left: 27%;
    margin-bottom: 20px;
}

.main-header-signup-button {
    color: white;
    font-weight: bold;
    float: left;
    position: relative;

}

.main-header-signup-button a {
    color: white;
}

.main-header-login-button a {
    color: white;
}

.main-header-signup-button p {
    margin: 0;
}

.main-header-signup-button:hover {
    cursor: pointer;
}


/**MAIN PAGE**/

/**MAIN PAGE.QUOTES**/
.quotes-block {
    width: 100%;
    font-family: 'calibri';
}

.quotes-block-headline {
    font-size: 30px;
    font-weight: bold;
}

.quotes-block-headline,.quote {
    width: 500px;
    margin: auto;
    padding-top: 25px;
}

.quote-image {
    width: 200px;
    float: left;
    position: relative;
}

.quote-image img {
    width: 95%;
}

.quote-text-information {
    width: 295px;
    float: left;
    position: relative;
    padding-left: 5px;
}

.quote-text {
    width:
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
    float: left;
}

.quote-author {
    text-align: right;
    padding-top: 10px;
    font-style: italic;
}

.quote-translation {
    padding-top: 10px;
    display: none;
    float: left;
    padding-bottom: 20px;
}

.quote-translation p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
}

.quote-translation-button {
    color: blue;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


.quote-sharing {
    width: 100;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
}

/**Quotations page**/
.quotations {
    width: 98%;
    padding-top: 10px;
    margin: 0 auto;
}

.add-new-idiom-button {
    float: left;
    position: relative;
    width: 100%;
    padding: 5px;
}

.quotations-block {
    width: 90%;
    float: left;
    position: relative;
}

.quotations-sorting {
    margin-top: 5px;
    float: left;
    position: relative;
    margin-left: -13%;
    width: 20%;

}

.quotations-sorting-topics-headline {
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
}

.quotations-sorting-authors-headline {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.quotations-sorting-topics-item {
    padding-top: 5px;
}

.quotations-sorting-topics-item li {
    display: block;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid #c4c4c4;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    margin: 5px auto;
    text-align: left;
    padding-left: 14px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    line-height: 40px;
    transition: .3s;
    overflow: hidden;
}

.quotations-sorting-authors-headline {
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
    padding-top: 10px;
}

.quotations-sorting-authors-items {
    padding-top: 5px;
}

.quotations-sorting-authors-items li {
    display: block;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid #c4c4c4;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    margin: 5px auto;
    text-align: left;
    padding-left: 14px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    line-height: 40px;
    transition: .3s;
    overflow: hidden;
}

.quotations-quote{
    width: 280px;
    margin: 5px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    border: 1px solid #c4c4c4;
    float: left;
    position: relative;
}

.quotations-quote-category {
    background: black;
    color: white;
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.quotations-quote-eng-text {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
     padding: 10px;
}

.quotations-quote-eng-author {
    text-align: right;
    padding-top: 5px;
    font-style: italic;
     padding-right: 10px;
}

.quotations-quote-translate-block {
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
    padding-left: 10px;
}

.quotations-quote-rus-text {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    line-height: 26px;
     padding-right: 10px;
}

.quotations-quote-rus-author {
    text-align: right;
    padding-top: 5px;
    font-style: italic;
     padding: 10px;
}

.quotations-quote-added-by {
    margin-left: 10px;
}

.quotations-quote-add-to-me {
    margin-left: 10px;
    margin-bottom: 10px;
}

/**New Idiom**/
.quotations-add-new-form {
    width: 370px;
    margin: 0 auto;
}

/**Video page**/

.video-page {
    width: 1200px;
    background: #DBDCDE;
    margin: 0 auto;
}

.video-block {
    width: 560px;
    height: 450px;
    float: left;
    position: relative;
    padding: 20px;
}

.video-block-title {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.video-block-description {
    font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Arial', sans-serif !important;
    padding-bottom: 10px;
}

/**Signup page**/
#user_form {
    width: 500px;
    margin: 0 auto;
}

/**Profile page**/
.profile_page {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
}

.profile_page_login {
    height: 50px;
    font-size: 20px;
}

.profile_page_picture {
    border: 1px solid black;
    float: left;
    width: 200px;
    height: 600px;
    position: relative;
    margin-right: 20px;
}

.profile_page_birthday {
    margin-bottom: 20px;
}

.profile_page_extra_info_hobby {
    margin-bottom: 20px;
}

.profile_page p {
    font-weight: bold;
}